####################### TS3 DNS Security - SkyNLexX #######################

## 403 Hata Döndür ##
ErrorDocument 403 /403.html

## Klasörlere Erişimi Engelle ##
Options -Indexes 

## Yönlendirmeleri Aktif Et ##
RewriteEngine On

## ABB Dosyasını Görüntülemelerine İzin Verme
<Files "karaliste.abb">
Order Allow,Deny
Deny from all
</Files>

####################### TS3 DNS Security - SkyNLexX #######################
